html {
  text-align: center;
}

body {
  align-items: center;
  justify-content: center;
  background-color:#00173d;
  color: white;
  margin: 0%;
}

.dark-mode {
  background-color: white;
  color: black;
}

.image-btn {
  background: none;
  border: none;
  padding: 0;
}

.image-btn img {
  display: block;
}

header, text {
  font-family: Helvetica;
  font-weight: bolder;
  margin: 0%;
  margin-bottom: 20px ;
}

.tabcontent {
  animation: fadeEffect 0.3s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.note {
  background-color: #00b7ff;
  border: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 20px;
}

.type, .release, .label {
  font-family: Helvetica;
  font-weight: normal;
}

h2 {
  font-family: Helvetica;
  font-weight: bolder;
}

.barcode {
  background-color: white;
  border: #00b7ff;
  border-style: solid;
  border-width: 2px;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.incl {
  background-color: orangered;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 15px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.button {
  background-color: #31312f;
  border: solid;
  border-width: 3.2px;
  border-color: white;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 1px;
  cursor: pointer;
  border-radius: 40px;
}

.colorblue {
  background-color: #5294ff;  
}

.scrollmenu {
  background-color: #5294ff;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab; /* Set cursor to grab */
}

.scrollmenutransparent {
  background-color: transparent;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab; /* Set cursor to grab */
}

/* Set cursor to grabbing while dragging */
.scrollmenu.dragging {
  cursor: grabbing;
}

.container {
  position: relative;
  width: 100%; /* Or any other width you prefer */
  height: auto; /* Adjust as needed */
  text-align: center; /* Horizontally center the absolutely positioned moon */
}

.stars, .moon {
  position: absolute;
  top: 0;
  left: 50%; /* Position from the center */
  transform: translateX(-50%); /* Adjust horizontally to center */
}

.stars {
  max-width: 100%;
  z-index: 1; /* Adjust the z-index value to control stacking order */
}

.moon {
  max-width: 70%;
  margin-left: 0%;
  z-index: 2; /* Adjust the z-index value to control stacking order */
}





.menubutton {
  text-shadow: 1px 1px grey;
  background-color: #00b7ff;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 20px 6px;
  border-radius: 22px;
  font-family: Helvetica;
  font-weight: bold;
  transition-duration: 0.5s;
}

.menubutton:hover {
  background-color: #0090c9;
}

.headerbutton {
  text-shadow: 1px 1px grey;
  background-color: #00b7ff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 3px;
  border-radius: 22px;
  font-family: Helvetica;
  font-weight: bold;
  transition-duration: 0.5s;
}

.headerbutton:hover {
  background-color: #0090c9;
}

.selectedheaderbutton {
  background-color: goldenrod;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 3px;
  border-radius: 22px;
  font-family: Helvetica;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.selectedheaderbutton:hover {
  background-color: yellowgreen;
}

  .item {
  border: 4px #00b7ff solid;
  border-radius: 40px;
  max-width: 400px;
  max-height: 900px;
  margin: 15px 8px;
  padding: 0px 5px;
  display: inline-block;
  font-family: Helvetica;
  font-weight: bolder;
  }

  .funfact {
    border: 2px #00b7ff solid;
    border-radius: 40px;
    padding: 0 15px;
    margin: 20px 15px;
    display: inline-flex; /* Use inline-flex */
    align-items: center;
    font-family: Helvetica;
    font-weight: bold;
    height: 60px;
  }
  
  .funfactimg {
    width: 55px;
    height: 55px;
    padding: 15px 15px;
    font-family: Helvetica;
    font-weight: bolder;
  }
  
  .funfactnote {
    background-color: #00b7ff;
    border: none;
    color: white;
    padding: 9px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 20px;
  }

  .img {
    display: flex;
    display: inline-block;
    max-width: 75px;
    max-height: 75px;
    padding: 15px 5px;
    font-family: Helvetica;
    font-weight: bolder;
  }



  .buttonicon {
    display: flex;
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    padding: 4px 4px;
  }
  
  .iconbutton {
    background-color: #31312f;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .dualipa {
    background-color: #202020;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: Helvetica;
  font-weight: bolder;
    transition-duration: 0.2s;
  }

  .dualipa:hover {
    background-color: #000;
  }

  .futurenostalgia {
    background-color: #000063;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: Helvetica;
  font-weight: bolder;
    transition-duration: 0.2s;
  }

  .futurenostalgia:hover {
    background-color: #000035;;
  }

  .radicaloptimism {
    background-color: #00acc0;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: Helvetica;
    font-weight: bolder;
    transition-duration: 0.2s;
  }

  .radicaloptimism:hover {
    background-color: #006671;
  }


  .stf {
    background-color: #d6e9ff;
    border: none;
    display: block;
    align-self: center;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: Helvetica;
    font-weight: bolder;
    transition-duration: 0.2s;
  }

  .stf:hover {
    background-color: #d2bc88;
    color: white;
  }


  @keyframes moveRight {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.wave{
  margin-top: 0%;
  color: #00acc0;
  font-size: 48px;
  background-image: url('./assets/wave.png');
  background-repeat: repeat-x;
  animation: moveRight 30s linear infinite;
}

.invisible-blue {
  color: #00acc0;
}

.helvetica-title {
  font-weight:bolder;
  font-size: 72px;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 0%;
  margin-bottom: 0%;
}

.helvetica-title-bg {
  background-color: #5294ff;
  font-weight:bolder;
  font-size: 72px;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 0%;
  margin-bottom: 0%;
}